input, button, textarea {
    outline: none;
    border : none;
}
textarea:focus {
    box-shadow: 2px 2px 2px seagreen;
} 
button:hover, select:hover{
    cursor: pointer;
}
.popup {
    display : none;
}
a{
    text-decoration: none;
}

ul{
    padding-left: 0;
}

.mask{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

/* CreateQuiz */
#questions {
    display: flex;
    flex-wrap: wrap;
}
.question {
    width: 48%;
    margin: auto;
    margin-top : 20px;
    padding: 18px;
    box-sizing: border-box;
    background-color: brown;
    border-radius: 10px;
}
.option-row {
    display: flex;
    width: 100%;
}
.option {
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
}

.option textarea {
    width : 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
}
.question-input {
    width: 100%;
    border-radius : 8px;
    height: 100px;
    padding: 16px;
    box-sizing: border-box;
}

@media screen and (max-width : 800px) {
    #questions{
        display: block;
    }
    .question {
        width: 90vw;
    }
    .question-input{
        height: 120px;
    }
    .option-row {
        display: block;
    }
    .option {
        width : initial;
        margin: 10px 0;
    }
    .option textarea{
        padding: 8px;
    }
}

/* QUIZ PAGE */
.questionDisplay {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px black, -2px -2px 2px black;
    border-radius: 8px;
    min-height: 100px;
    text-align: center;
}
.btn-answers {
    width: 100%;
    border: none;
    outline : none;
    padding: 10px;
    border-radius : 8px;
    border: 2px solid grey;
}
.btn-quiz {
    float: right;
    margin-top: 5px;
    margin-right: 7px;
    min-width: 80px;
    color: white;
    padding: 10px;
    background-color: darkolivegreen;
    border: none;
}
.quiz {
    padding-top: 70px;
    width: 70vw;
    margin: auto;
}
.activeQuestion {
    margin: 8px;
    font-style: italic;
    font-weight: 700;
    font-size: 1.02rem;
}

@media screen and (max-width : 800px) {
    .quiz {
        padding-top: 30px;
        width: 90vw;
        margin: auto;
    }
}
/* TIMER */
.countdown {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    color: green;
}
.red{
    color: red;
}

/* NAV */
nav li {
    display: inline;
    padding : 8px;
    color: #07323f;
}

nav button {
    padding: 12px;
    background-color: #07323f;
    border: none;
    color: white;
    margin-left: 10px;
}

.right {
    float: right;
    margin-right: 10px;
}

.dropdown-content {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 200%;
    right: 0;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.dropdown .dropdown-content::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.dropdown-content a {
    padding: 4px;
    color: white;
}

@media screen and (min-width : 1025px) {
    .dropdown-content {
        top : 110%;
    }
}

/* LOGIN SIGNUP */
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}
.auth form {
    width: 500px;
    box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
    padding: 10px;
}

.formgroup {
    width: 80%;
    margin: 18px auto;
}

.formgroup label, .formgroup input {
    display: block
}
.auth button {
    display: block;
    width: 80px;
    margin: auto;
}

.formgroup input {
    outline: none;
    border: none;
    border-bottom: 3px solid #07323f;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.formgroup label {
    color: dimgray;
    font-size: 1.3em;
}

.btn-auth {
    background-color: white;
    border: none;
    color : #07323f;
    font-size : 1.2em;
}

.btn-auth:hover {
    color: grey;
}

@media screen and (max-width: 768px) {
    .auth form {
        width : 90vw;
    }
}
.loader {
	border: 8px solid #f3f3f3;
	border-radius: 50%;
	border-top: 8px solid orange;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin: 0 auto;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

