input,
button,
textarea {
  outline: none;
  border: none;
}
textarea:focus {
  box-shadow: 2px 2px 2px seagreen;
}
button:hover,
select:hover {
  cursor: pointer;
}
.popup {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.58);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100%;
}
.btn-close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  font-weight: 900;
  color: white;
}
.popup form {
  box-shadow: 2px 2px 2px #07323f;
  background-color: white;
  padding: 20px;
}
.popup input,
.popup button {
  border: 2px solid #07323f;
  padding: 10px;
  margin: 7px;
}
a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

/* CreateQuiz */
.question {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 18px;
  box-sizing: border-box;
  background-color: brown;
  border-radius: 10px;
  position: relative;
}
.question label {
  color: white;
}
.questionNo {
  color: white;
  font-weight: 900;
  font-size: 18px;
}
.option-row {
  display: flex;
  width: 100%;
}
.option {
  width: 50%;
  margin: 10px;
  box-sizing: border-box;
}

.option textarea {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
}
.question-input {
  width: 100%;
  border-radius: 8px;
  height: 100px;
  padding: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  #questions {
    display: block;
  }
  .question {
    width: 90vw;
  }
  .question-input {
    height: 120px;
  }
  .option-row {
    display: block;
  }
  .option {
    width: initial;
    margin: 10px 0;
  }
  .option textarea {
    padding: 8px;
  }
}

/* QUIZ PAGE */
.questionDisplay {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px black, -2px -2px 2px #07323f;
  border-radius: 8px;
  min-height: 100px;
  text-align: center;
  color: #07323f;
}
.questionDisplay div {
  white-space: pre;
}
.logo-page {
  display: block;
  margin: 20px auto 0;
}
.btn-take,
.btn-quiz,
.btn-quiz-next {
  padding: 18px;
  color: white;
  background-color: #07323f;
  font-weight: bold;
  border-radius: 30px 8px;
}
.btn-answers {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid grey;
  color: #07323f;
}
.btn-quiz {
  float: right;
  margin-top: 5px;
  margin-right: 7px;
  min-width: 80px;
  border: none;
  padding: 18px 45px;
}
.btn-quiz-next {
  display: block;
  margin: 10px 40px 0 auto;
  width: 100px;
}
.quiz {
  width: 70vw;
  margin: auto;
}
.activeQuestion {
  margin: 10px;
  font-style: italic;
  font-weight: 700;
  font-size: 1.2rem;
  color: #2e697b;
}
.result-container {
  width: 300px;
  box-shadow: 2px 2px 2px #e7e7e7, -2px -2px 2px #e7e7e7;
  margin: 20px auto 0px;
  height: auto;
  padding: 15px;
  box-sizing: border-box;
  color: darkcyan;
}
.result-container a {
  color: lightsalmon;
}
.result-img {
  margin: auto;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  background: url(../images/score.svg) no-repeat center center,
    linear-gradient(to right, rgba(247, 205, 88, 0.7), rgba(88, 247, 144, 0.2));
  background-size: 60px, cover;
}
.result-name {
  font-size: 1.3rem;
}
.result-percent-intro {
  margin-bottom: 3px;
  font-size: 1.1rem;
}
.result-percent {
  font-size: 3em;
  font-weight: 800;
  margin-top: 7px;
  margin-bottom: 7px;
  color: brown;
}
.result-score-intro {
  margin-bottom: 3px;
  font-size: 1.1rem;
}
.result-score {
  margin-top: 7px;
  margin-bottom: 3px;
  font-size: 2em;
  color: #a52a2abf;
}
@media screen and (max-width: 800px) {
  .quiz {
    padding-top: 4px;
    width: 90vw;
    margin: auto;
  }
  .btn-quiz-next {
    margin: 10px 20px 0 auto;
  }
}
/* TIMER */
.countdown {
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: white;
  color: green;
}
.red {
  color: red;
}

/* NAV */
nav li {
  display: inline;
  padding: 8px;
  color: #07323f;
}

nav button {
  padding: 12px;
  background-color: #07323f;
  border: none;
  color: white;
  margin-left: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}
.dropdown {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -kthml-user-select: none;
  user-select: none;
}
.dropdown-content {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
}

.dropdown .dropdown-content::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.dropdown-content a {
  padding: 4px;
  color: white;
}

@media screen and (min-width: 1025px) {
  .dropdown-content {
    top: 110%;
  }
}

/* LOGIN SIGNUP */
.auth {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.auth form {
  width: 500px;
  box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
  padding: 10px;
  position: relative;
}

.formgroup {
  width: 80%;
  margin: 18px auto;
}

.formgroup label,
.formgroup input {
  display: block;
}
.auth button {
  display: block;
  width: 80px;
  margin: auto;
}
.auth button.btnForgot {
  width: auto;
  margin: 0 10px 3px auto;
  background: transparent;
  color: #07323f;
}

.formgroup input {
  outline: none;
  border: none;
  border-bottom: 3px solid #07323f;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

.formgroup label {
  color: dimgray;
  font-size: 1.3em;
}

.btn-auth {
  background-color: white;
  border: none;
  color: #07323f;
  font-size: 1.2em;
}

.btn-auth:hover {
  color: grey;
}

@media screen and (max-width: 768px) {
  .auth form {
    width: 90vw;
  }
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid orange;
  width: 10px;
  height: 10px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
