input, button, textarea {
    outline: none;
    border: 2px solid grey;
}
input:not([type='radio']):focus, textarea:focus {
    box-shadow: 2px 2px 2px seagreen;
}
button:hover {
    cursor: pointer;
}
textarea {
    resize: none;
}
.popup {
    display : none;
}

a{
    text-decoration: none;
}

/* CreateQuiz */
#questions {
    display: flex;
    flex-wrap: wrap;
}
.question {
    width: 48%;
    margin: auto;
    margin-top : 20px;
    box-sizing: border-box;
    padding: 18px;
    background-color: chocolate;
    border-radius: 10px;
}
.option-row {
    display: flex;
}
.option {
    width: 50%;
    margin: 10px;
}

.option textarea {
    width : 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 8px;
}
.question-input {
    width: 100%;
    border-radius : 8px;
    height: 100px;
    padding: 16px;
    box-sizing: border-box;
}

.delete-question {
    float: right;
    background-color: red;
    padding: 8px;
    border-radius: 8px;
}

/* QUIZ PAGE */
.questionDisplay {
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px black, -2px -2px 2px black;
    border-radius: 8px;
    min-height: 100px;
}
.btn-answers {
    width: 100%;
    border: none;
    outline : none;
    padding: 10px;
    border-radius : 8px;
    border: 2px solid grey;
}

/* TIMER */
.countdown {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: white;
    color: green;
}
.red{
    color: red;
}

/* NAV */
nav li {
    display: inline;
    padding : 8px;
}

.right {
    float: right;
    margin-right: 5px;
}